<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo -->
  <a class="navbar-brand" href="/">
    <img
      src="https://i.pinimg.com/originals/33/e6/3d/33e63d5adb0da6b303a83901c8e8463a.png"
      alt="Logo"
      style="width: 50px; height: auto"
    />
  </a>

  <!-- Navbar Toggler for Mobile View -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Menu -->
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav">
      <!-- New & Featured -->
      <li>
        <b><a class="nav-link" href="/">Trang chủ</a></b>
      </li>
      <% category.forEach(item => { %>
      <li class="nav-item">
        <a class="nav-link" href="/category/<%=item.slug%>"><%=item.title%></a>
      </li>
      <% }) %>
      <li>
        <a class="nav-link" href="/news">Tin tức</a>
      </li>
      <%if(user){%>
      <li>
        <a class="nav-link" href="/post">Bài viết</a>
      </li>
      <%}%>
    </ul>
  </div>

  <!-- Navbar Icons -->
  <div class="navbar-icons d-flex align-items-center">
    <!-- Search Form -->
    <form class="form-inline mx-2" action="/search" method="GET">
      <input
        class="form-control"
        type="text"
        name="q"
        placeholder="Tìm kiếm..."
        aria-label="Search"
      />
      <button class="btn btn-light ml-2" type="submit">
        <i class="fas fa-search text-dark"></i>
      </button>
    </form>

    <!-- Cart Icon -->
    <a class="nav-link mx-2" href="/cart" data-toggle="tooltip" title="Cart">
      <i class="fas fa-shopping-cart text-dark"></i>
      <span class="badge badge-pill badge-info">
        <%= (typeof cartQuantity !== 'undefined' && cartQuantity.quantityTotal)
        || 0 %>
      </span>
    </a>

    <!-- Notification Bell Icon -->
    <a
      class="nav-link mx-2"
      href="/notifications"
      data-toggle="tooltip"
      title="Notifications"
    >
      <i class="fas fa-bell text-dark"></i>
      <span class="badge badge-pill badge-info">5</span>
      <!-- Example notification count -->
    </a>

    <!-- User Icon and Options -->
    <% if (user) { %>
    <!-- Check if user is logged in -->
    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-user text-dark"></i>
        <b class="text-dark">Hello, <%=user.fullName%></b>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="userDropdown"
      >
        <a class="dropdown-item" href="/user/profile/<%=user.userIdentifier%>"
          >Profile</a
        >
        <a
          class="dropdown-item"
          href="/user/setting-profile/<%=user.userIdentifier%>"
          >System</a
        >
        <a class="dropdown-item" href="/auth/logout">Logout</a>
      </div>
    </div>
    <% } else { %>
    <a
      class="nav-link mx-2"
      href="/auth/login"
      data-toggle="tooltip"
      title="User"
    >
      <i class="fas fa-user text-dark"></i>
    </a>
    <% } %>
  </div>
</nav>

<!-- Add Bootstrap and FontAwesome CDN for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<!-- Add Bootstrap 4 CDN -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
